.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* Added margin for spacing */
  background-image: url("../pic/2.jpg");
  background-size: fill;
  background-position: center;
}

.advert-container {
  display: flex;
  flex-direction: column; /* Display as column on smaller screens */
  align-items: center;
  position: relative; /* Needed for the pseudo-element */
  padding: 1.5rem; /* Padding around the container */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Shadow effect */
  overflow: hidden; /* To contain the pseudo-element */
}

.advert-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../pic/2.jpg");
  background-size: fill;
  background-position: center;
  opacity: 0.6; /* Adjust the opacity here */
  z-index: 1; /* Ensure the overlay is above the background but below the content */
}

.image-container,
.descriptions-container {
  position: relative; /* Needed to keep the content above the overlay */
  z-index: 2;
}

.image-container {
  width: 100%; /* Full width for the image on smaller screens */
  padding: 1.5rem; /* Padding around the image */
}

.advert-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem; /* Rounded corners for the image */
}

.descriptions-container {
  width: 100%; /* Full width for descriptions on smaller screens */
  padding: 1.5rem; /* Padding around descriptions */
  text-align: center;
  backdrop-filter: blur(5px); /* Center align text on smaller screens */
}

.description-item {
  display: flex;
  align-items: center; /* Center align items vertically */
  margin-bottom: 1.5rem; /* Increased margin for spacing between items */
}

.description-icon {
  color: #503b3b; /* Dark red color for the icon */
  margin-right: 1rem; /* Margin to separate icon from text */
  font-size: 1.5rem; /* Font size for the icon */
}

.description-item h3 {
  font-size: 1.5rem; /* Font size for the title */
  margin-bottom: 0.5rem; /* Margin below the title */
}

.description-item p {
  font-size: 1rem; /* Font size for the description */
  line-height: 1.6; /* Line height for better readability */
  font-family: Arial, sans-serif; /* Font family for the description */
  color: #030000; /* Darker color for the description text */
}

@media screen and (min-width: 768px) {
  .advert-container {
    flex-direction: row; /* Display as row on larger screens */
  }

  .image-container {
    width: 33.333%; /* One-third width for the image on larger screens */
    padding: 1.5rem; /* Padding around the image */
  }

  .descriptions-container {
    width: 66.666%; /* Two-thirds width for descriptions on larger screens */
    padding: 1.5rem; /* Padding around descriptions */
    text-align: left; /* Left align text on larger screens */
  }
}
