@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@100..900&display=swap");
@import url(../dire.ttf);
.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.darik {
  font-family: dire;
}

.hero-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-container > h1 {
  color: #fff;
  font-size: 8rem;
  font-weight: 175;
  margin-top: 10px;
  text-align: center;
}

.hero-container > h4 {
  color: #fff;
  font-family: "Noto Sans Ethiopic";
  font-weight: 179;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.hero-btns {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-Hero {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 3rem;
    margin-top: -100px;
  }
  .hero-container > h4 {
    font-size: 2.5rem;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 4.5rem;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 1.2rem;
  }

  .hero-btns {
    flex-direction: column;
  }

  .btns {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-container > h1 {
    font-size: 4rem;
    margin-top: -80px;
  }

  .hero-container > p {
    font-size: 1rem;
  }
}
