.form_container {
  background-color: rgb(199, 203, 207);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 25px;
  margin-right: 60px;
  width: 35%;
}
.form_container h1 {
  font-size: 20px;
}
.req_right {
  align-items: center;
  padding: auto;
  margin: 20px;
  width: 50%;
}
.req_right p {
  padding: 5px;
  margin-top: 20px;
  color: #ffffff;
  line-height: 1.8;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 15px;
  width: 88.88%;
}
.req_right h5 {
  text-align: left;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  font-size: 75px;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input,
textarea {
  border: 1px solid #ebe1e0;
  border-radius: 8px;
  outline: 0;
  padding: 1em;
  background-color: #ffffff;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: sans-serif;
  resize: none;
}

.message {
  width: auto;
}

#input-submit {
  color: white;
  background: #4d3735;
  cursor: pointer;
  border-radius: 10px;
}

#input-submit:hover {
  background-color: white;
  color: #4d3735;
  border: 1px solid #4d3735;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
