.request-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

.form_container {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  padding: 25px;
  margin: 20px;
  backdrop-filter: blur(2.5px);
  box-sizing: border-box; /* Ensure padding is included in width/height */
  box-shadow: 10px 10px 100px rgba(92, 56, 27, 0.836); /* Add shadow to the req_right*/
}

.req_right {
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  width: 100%; /* Make sure this adjusts in responsive mode */
  backdrop-filter: blur(5px);
  box-sizing: border-box; /* Ensure padding is included in width/height */
  box-shadow: 10px 10px 100px rgba(92, 56, 27, 0.836);
}

.req_right p {
  padding: 5px;
  margin-top: 20px;
  color: #ffffff;
  line-height: 1.8;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 15px;
  width: 100%; /* Ensure text doesn't overflow */
}

.req_right h5 {
  text-align: left;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  font-size: 55px;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

input,
textarea {
  border: 1px solid #ebe1e0;
  border-radius: 8px;
  outline: 0;
  padding: 1em;
  background-color: #d3d3d3;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: sans-serif;
  resize: none;
}

#input-submit {
  color: white;
  background: #000000;
  cursor: pointer;
  border-radius: 10px;
}

#input-submit:hover {
  background-color: white;
  color: #4d3735;
  border: 1px solid #4d3735;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

@media (min-width: 768px) {
  .request-form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .req_right,
  .form_container {
    width: 45%;
  }

  .half {
    width: 48%;
    float: left;
  }

  .left {
    margin-right: 2%;
  }
}

@media (max-width: 768px) {
  .req_right,
  .form_container {
    width: 100%;
  }

  .request-form-container {
    flex-direction: column;
  }
}
